.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100vh;
  border: 1px solid black;
}

.box1{
 text-align: center;
  border: 1px solid black;
  width: 90%;
}
.box2{
  margin-top: 10%;
  border: 1px solid black;

}

button{
  margin-top: 5%;
  justify-content: center;
  border: 1px solid black;
  width:75vw;
  height: 5vh;
  border-radius: 5px;
}

h1{
  animation: changeColors 5s infinite alternate;
}
@keyframes changeColors {

  0%{
    color: pink;
  }
  20%{
 color:orange;
  }
  30%{
    color:chartreuse;
  }
  40%{
      color:brown;
  }
  50%{
    color:cyan;
  }

  60%{
      color:coral;
  }

  70%{
      color:darkgoldenrod;
  }
  80%{
      color:yellowgreen;
  }
  90%{
    color:violet;
  }
  100%{
    color:tomato;
  }
}